* {
  --animation_letter: shakeY;
  --animation_letter_duration: 2s;
  --animation_letter_delay: 0.05s;
  --animation_stars: flash;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand-Regular", "Quicksand";
}

a {
  text-decoration: none;
  color: rgb(93, 140, 170);
  width: fit-content;
}

h1 {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  text-align: center;
}

h2 {
  font-size: clamp(1rem, 2vw, 2.5rem);
  text-align: center;
}

h3,
h4 {
  color: rgb(93, 140, 170);
}
p {
  font-size: clamp(0.7rem, 1.3vw, 2.5rem);
}

img {
  margin: 10px 0px;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

section {
  margin: 10px 0;
  width: 100%;
}

.accueil__logo--L {
  animation: var(
    --animation_letter
  ); /* referring directly to the animation's @keyframe declaration */
  animation-duration: var(
    --animation_letter_duration
  ); /* don't forget to set a duration! */
  animation-delay: calc(
    var(--animation_letter_duration) * 0
  ); /* don't forget to set a duration! */
}

.accueil__logo--y {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 1);
}

.accueil__logo--o {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 2);
}

.accueil__logo--n {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 3);
}

.accueil__logo--n2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 4);
}

.accueil__logo--a {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 5);
}
.accueil__logo--i {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 6);
}

.accueil__logo--s {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 7);
}

.accueil__logo--e {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 8);
}

.accueil__logo--r {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 9);
}

.accueil__logo--i2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 10);
}
.accueil__logo--e2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 11);
}

.accueil__logo--s2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 12);
}

.accueil__logo--m {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 14);
}

.accueil__logo--a2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 15);
}

.accueil__logo--r2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 16);
}
.accueil__logo--i3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 17);
}

.accueil__logo--n3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 18);
}

.accueil__logo--e3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 19);
}

.accueil__logo--s3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 20);
}

.accueil__logo--little-star {
  animation: var(--animation_stars);
  animation-duration: calc(var(--animation_letter_duration) / 2);
  animation-delay: calc(var(--animation_letter_delay) * 10);
  animation-iteration-count: 2;
}

.accueil__logo--big-star {
  animation: var(--animation_stars);
  animation-duration: calc(var(--animation_letter_duration) / 2);
  animation-delay: calc(var(--animation_letter_delay) * 5);
  animation-iteration-count: 2;
}

.accueil__logo--baleine {
  animation: fadeInUp;
  animation-duration: 2s;
}

.accueil__logo--point {
  animation: bounceInUp;
  animation-duration: 2s;
}

.accueil__logo {
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  animation-name: logo_placement;
}

main {
  width: 100%;
  display: flex;
}

@keyframes title_apparition {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

h1 {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#main__concept {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#main__concept--image {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#main__produits h2 {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#main__produits img,
#main__produits div {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#main__creatrice,
#main__creatrice--image {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 3.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#main__logo,
#main__logo--image {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 3.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#main__temoins,
#main__temoins--image {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#titre__reseaux,
#instaLogo,
footer {
  animation: title_apparition;
  opacity: 0%;
  animation-duration: 1s;
  animation-delay: 4.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  p {
    text-align: center;
  }

  h2 {
    color: rgb(93, 140, 170);
    width: 100%;
    margin: 10px 0 5px 0;
  }

  .accueil__logo {
    height: 18vh;
    margin-right: 2vw;
  }

  @keyframes logo_placement {
    from {
      transform: translate(33vw, 38vh) scale(2);
    }
  }

  @keyframes nav_apparition {
    from {
      background: linear-gradient(
        358.8deg,
        rgb(93, 140, 170),
        rgba(255, 0, 0, 0) 0%
      );
    }
    to {
      background: linear-gradient(
        358.8deg,
        rgb(93, 140, 170),
        rgba(255, 0, 0, 0) 6%
      );
    }
  }

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      358.8deg,
      rgb(93, 140, 170),
      rgba(255, 0, 0, 0) 6%
    );
    animation-name: nav_apparition;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  h1 {
    margin: 10px 0;
    font-size: clamp(0.5em, 3vw, 3em);
    width: 100%;
  }

  #main__concept--image {
    content: url("./assets/lyonPaysageFinMobile.jpg");
  }

  main {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }

  #main__produits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #main__produits--images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
  }

  .main__produits--images--container {
    position: relative;
    width: 80%;
  }

  .main__produits--images--title {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .main__produits--images--title:hover {
    background-color: hsla(0, 0%, 0%, 30%);
  }

  .main__produits--images--title h2 {
    margin: 0;
    color: white;
    opacity: 100%;
  }

  .main__produits--images--container img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
  }

  #main__produits--BO {
    content: url("./assets/bouclesOreillesMobile.jpg");
  }

  #main__produits--Collier {
    content: url("./assets/CollierMobile.jpg");
  }

  #main__produits--Bracelet {
    content: url("./assets/BraceletMobile.jpg");
  }

  #main__creatrice {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
  }
  #main__creatrice--image {
    width: 50%;
    margin: 0 25%;
    height: auto;
    content: url("./assets/Marine-Gueydan.jpg");
    border-radius: 100%;
  }

  #main__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
  }
  #main__logo--image {
    width: 35%;
    content: url("./assets/logo.png");
  }
  #main__temoins {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
  }
  #main__temoins p {
    width: 25%;
  }

  #main__temoins h2 {
    width: 100%;
  }

  #main__temoins--textes {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  #instaLogoLink {
    width: 20vw;
  }

  #instaLogo {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .accueil__logo {
    height: 100%;
  }

  h2 {
    color: rgb(93, 140, 170);
    width: 100%;
    margin: 50px 0 20px 0;
  }

  @keyframes logo_placement {
    from {
      transform: translate(40vw, 38vh) scale(3);
    }
  }

  @keyframes nav_apparition {
    from {
      background: linear-gradient(
        359deg,
        rgb(93, 140, 170),
        rgba(255, 0, 0, 0) 0%
      );
    }
    to {
      background: linear-gradient(
        359deg,
        rgb(93, 140, 170),
        rgba(255, 0, 0, 0) 10%
      );
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 90%;
    height: 25vh;
    background-size: 200% 200%;
    background: linear-gradient(
      359deg,
      rgb(93, 140, 170),
      rgba(255, 0, 0, 0) 10%
    );
    animation-name: nav_apparition;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  #nav__links {
    width: 5%;
    height: 100%;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }

  #main__concept {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
  }
  #main__concept--image {
    width: 25%;
    margin-left: 2.5%;
    content: url("./assets/lyonPaysageFin.jpg");
  }

  #main__produits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #main__produits--BO {
    content: url("./assets/bouclesOreillesDesktop.jpg");
  }

  #main__produits--Collier {
    content: url("./assets/CollierDesktop.jpg");
  }

  #main__produits--Bracelet {
    content: url("./assets/BraceletDesktopFin.jpg");
  }
  #main__produits--images {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }

  .main__produits--images--container {
    position: relative;
    width: 30%;
  }

  .main__produits--images--title {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .main__produits--images--title:hover {
    border-image: fill 0 linear-gradient(#0003, #000);
  }

  .main__produits--images--title h2 {
    margin: 0;
    color: white;
    opacity: 100%;
  }

  .main__produits--images--container img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
  }

  #main__creatrice {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
  }
  #main__creatrice--image {
    width: 25%;
    margin-left: 2.5%;
    content: url("./assets/Marine-Gueydan.jpg");
    border-radius: 100%;
  }

  #main__logo {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
  }
  #main__logo--image {
    width: 35%;
    content: url("./assets/logo.png");
  }
  #main__temoins {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
  }
  #main__temoins p {
    width: 25%;
  }

  #main__temoins h2 {
    width: 100%;
  }

  #main__temoins--textes {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  #instaLogoLink {
    position: relative;
    width: 10vw;
    left: 35vw;
  }

  #instaLogo {
    width: 100%;
  }
}

#titre__reseaux {
  width: 100%;
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsl(203, 31%, 90%);
  padding-bottom: 1vh;
}
footer img {
  width: 15%;
}

footer h3 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
