:root {
  --animation_letter: shakeY;
  --animation_letter_duration: 2s;
  --animation_letter_delay: 0.05s;
  --animation_stars: flash;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand-Regular", "Quicksand";
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  position: absolute;
  top: 10px;
  left: calc((25vh / 1.55) + 10vw);
  width: calc(85vw - (25vh / 1.55));
  height: 25vh;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.accueil__logo {
  position: absolute;
  top: 25vh;
  left: calc((100vw - (50vh / 1.55)) / 2);
  height: 50vh;
}

.accueil__logo--L {
  animation: var(
    --animation_letter
  ); /* referring directly to the animation's @keyframe declaration */
  animation-duration: var(
    --animation_letter_duration
  ); /* don't forget to set a duration! */
  animation-delay: calc(
    var(--animation_letter_duration) * 0
  ); /* don't forget to set a duration! */
}

.accueil__logo--y {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 1);
}

.accueil__logo--o {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 2);
}

.accueil__logo--n {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 3);
}

.accueil__logo--n2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 4);
}

.accueil__logo--a {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 5);
}
.accueil__logo--i {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 6);
}

.accueil__logo--s {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 7);
}

.accueil__logo--e {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 8);
}

.accueil__logo--r {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 9);
}

.accueil__logo--i2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 10);
}
.accueil__logo--e2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 11);
}

.accueil__logo--s2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 12);
}

.accueil__logo--m {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 14);
}

.accueil__logo--a2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 15);
}

.accueil__logo--r2 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 16);
}
.accueil__logo--i3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 17);
}

.accueil__logo--n3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 18);
}

.accueil__logo--e3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 19);
}

.accueil__logo--s3 {
  animation: var(--animation_letter);
  animation-duration: var(--animation_letter_duration);
  animation-delay: calc(var(--animation_letter_delay) * 20);
}

.accueil__logo--little-star {
  animation: var(--animation_stars);
  animation-duration: calc(var(--animation_letter_duration) / 2);
  animation-delay: calc(var(--animation_letter_delay) * 10);
  animation-iteration-count: 2;
}

.accueil__logo--big-star {
  animation: var(--animation_stars);
  animation-duration: calc(var(--animation_letter_duration) / 2);
  animation-delay: calc(var(--animation_letter_delay) * 5);
  animation-iteration-count: 2;
}

.accueil__logo--baleine {
  animation: fadeInUp;
  animation-duration: 2s;
}

.accueil__logo--point {
  animation: bounceInUp;
  animation-duration: 2s;
}

@keyframes logo_placement {
  to {
    position: absolute;
    left: 5vw;
    top: 10px;
    height: 25vh;
  }
}

.accueil__logo {
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: logo_placement;
}
